@model WebBanDienThoai.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/login-tgdd.css" rel="stylesheet" />

<div class="login-wrap">
    <h1 class="login-title">Đăng nhập thegioididong</h1>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form", role = "form", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber) <!-- Nhãn: Số điện thoại -->
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Nhập số điện thoại của bạn", type = "tel", autocomplete = "tel", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu của bạn", autocomplete = "current-password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <!-- Nhóm checkbox nhớ đăng nhập: hiển thị inline, checkbox nhỏ -->
        <div class="form-group remember-row">
            <label class="checkbox-inline remember-inline">
                <!-- Đặt layout inline cho nhãn + input -->
                @Html.CheckBoxFor(m => m.RememberMe) <!-- Checkbox: sẽ được thu nhỏ bằng CSS -->
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-tgdd">Đăng nhập</button>
        </div>

        <div class="extra-links">
            <a href="#" class="forgot-link">Quên mật khẩu?</a>
        </div>

        <div class="signup">
            <span>Bạn chưa có tài khoản?</span>
            <a href="@Url.Action("Register","Account")" class="signup-link">Đăng ký ngay</a>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}